<h1>Posts</h1>
<% @posts.each do |post| %>
<p>
	<strong><%= post.title %></strong><br>
	Author: <%= post.author %><br>
	<%= link_to "View more", post_path(post.id) %>
	<!-- <a href="/posts/<%= post.id %>">View more</a> -->
</p>
<% end %>